<nav class="page-nav">
    <h1>{{ pageModel.title }}</h1>
    <span [style.backgroundColor]="pageModel?.color" class="page-editor-color-circle"></span>

    <div class="page-nav-toolbar">
        <span matTooltip="Oldal mentése" (click)="savePage()">
            <mat-icon>save</mat-icon>
        </span>
        <span matTooltip="Oldalszerkesztő bezárása" (click)="closePageEditor()">
            <mat-icon>close</mat-icon>
        </span>
    </div>
</nav>
<div id="editor-area">
    <aside id="widget-list" class="editor-panel">
        <h2 class="editor-panel-title">Elérhető widgetek</h2>

        <div id="widget-list-container">
            <div *ngFor="let type of widgetTypes" class="widget-list-item"
                [style.backgroundImage]="'url(../../../assets/editor/' + type.name + '.png)'"
                [matTooltip]="type.display_name" [dndDraggable]="type"></div>
        </div>
    </aside>

    <main id="editor-viewport" class="editor-panel" dndDropzone (dndDrop)="newWidgetDropped($event)"
        (click)="selected = null" #editorViewport>

        <!-- widgetek -->
        <ng-container *ngIf="pageModelLoaded">
            <ng-container *ngFor="let widget of pageModel?.widgets">
                <div *ngIf="!widget.deleted" style="position: absolute; transform-origin: top left;" [style.top.px]="widget.saved_y"
                [style.left.px]="widget.saved_x" cdkDrag (cdkDragEnded)="widgetDragged($event, widget)">

                    <div class="widget-wrapper">
                        <div class="widget-selection-box" [ngClass]="{ 'selected': widget.id == selected?.id }"
                            (click)="selected = widget; $event.stopPropagation()">
                            <ng-container dynamicWidget [model]="widget" [form]="emptyFormGroup"></ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        

    </main>

    <aside id="settings" class="editor-panel">
        <!-- kiválasztott widget adatai -->
        <section *ngIf="selected">

            <h2 class="editor-panel-title">
                Widget szerkesztése
                <mat-icon matTooltip="Widget törlése az oldalról" (click)="initDeleteWidget(selected)">delete</mat-icon>
            </h2>

            <mat-form-field>
                <mat-label>Widget felirata</mat-label>
                <input type="text" matInput [(ngModel)]="selected.label">
            </mat-form-field>

            <div *ngIf="selected.widget_type.name == 'textarea'">
                <mat-checkbox [(ngModel)]="selected.multi_line">
                    Többsoros szövegdoboz
                </mat-checkbox>
            </div>

            <div>
                <mat-checkbox [(ngModel)]="selected.required">Kötelezően kitöltendő</mat-checkbox>
            </div>

            <!-- listaelemek legördülőbe -->
            <div *ngIf="selected.widget_type.name == 'select'">
                <mat-form-field>
                    <mat-label>Listaelem hozzáadása</mat-label>
                    <input type="text" matInput [(ngModel)]="optionValueToAdd">
                </mat-form-field>

                <button mat-stroked-button (click)="addOptionToSelectedWidget()">Listaelem hozzáadása</button>

                <div>
                    <ul>
                        <li *ngFor="let option of selected.options">{{ option.value }}</li>
                    </ul>
                </div>
            </div>

            <!-- alapértelmezett értékek -->
            <div *ngIf="!selected.required">
                <mat-form-field *ngIf="selected.widget_type.name == 'number'">
                    <mat-label>Alapértelmezett érték</mat-label>
                    <input type="number" matInput [(ngModel)]="selected.default_value">
                </mat-form-field>
                <mat-form-field *ngIf="selected.widget_type.name == 'textarea'">
                    <mat-label>Alapértelmezett érték</mat-label>
                    <input type="text" matInput [(ngModel)]="selected.default_value">
                </mat-form-field>
                <mat-form-field *ngIf="selected.widget_type.name == 'date'">
                    <mat-label>Alapértelmezett érték</mat-label>
                    <input type="date" matInput [(ngModel)]="selected.default_value">
                </mat-form-field>
            </div>

            <!-- min és max értékek számmezőnél -->
            <div *ngIf="selected.widget_type.name == 'number'">
                <mat-form-field>
                    <mat-label>Minimális érték</mat-label>
                    <input matInput type="number" [(ngModel)]="selected.min_value">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Maximális érték</mat-label>
                    <input matInput type="number" [(ngModel)]="selected.max_value">
                </mat-form-field>
            </div>
        </section>

        <!-- oldal adatai -->
        <mat-tab-group *ngIf="!selected">
            <!-- oldal alapadatai -->
            <mat-tab label="Alapadatok">

                <div>
                    <label>Létrehozta:</label>
                    <span>{{ pageModel?.created_by?.display_name }}</span>
                    <br>
                    <label>Utoljára módosította:</label>
                    <span>{{ pageModel?.last_modified_by?.display_name }}</span>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Oldal címe</mat-label>
                        <input type="text" matInput [(ngModel)]="pageModel.title">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Szín</mat-label>
                        <input type="color" matInput [(ngModel)]="pageModel.color">
                    </mat-form-field>
                </div>
            </mat-tab>

            <!-- oldalhierarchia szerkesztő -->
            <mat-tab label="Kapcsolódó oldalak">
                <div class="add-related-page-container">
                    <mat-form-field>
                        <mat-label>Alárendelt oldal felvétele</mat-label>
                        <mat-select [(ngModel)]="relatedPageIdToAdd">
                            <ng-container *ngFor="let page of pages">
                                <mat-option *ngIf="canPageBeRelated(page)" [value]="page.id">
                                    {{ page?.title }}
                                </mat-option>
                            </ng-container>   
                        </mat-select> 
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="initAddRelatedPage()">
                        <mat-icon>add</mat-icon>
                        Oldal felvétele
                    </button>
                </div>

                <div>
                    <h3>Szülő oldal:</h3>
                    <span>{{ pageModel?.parent_page?.title }}</span>
                </div>

                <div>
                    <h3>Alárendelt oldalak:</h3>
                    <ul>
                        <li *ngFor="let page of pageModel?.child_pages">{{ page?.title }}</li>
                    </ul>
                </div>


            </mat-tab>

            <!-- widgetek táblázat beállításai -->
            <!-- <mat-tab label="Widgetek">
                <h2>Widgetek sorrendje a táblázatban</h2>
                <div class="widget-table-list">
                    <div class="widget-table-item" *ngFor="let widget of pageModel?.widgets">
                        <div class="widget-table-item-name">{{ widget.label }}</div>
                        <div class="widget-table-item-cb">
                            <mat-checkbox matTooltip="Látszódjon a táblázatban"></mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-tab> -->

        </mat-tab-group>


    </aside>
</div>