<div id="login-div">
  <form action="" (ngSubmit)="login()">
    <div id="login-form">
      <h1>CCreator Login</h1>
      <mat-form-field class="login-input">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="email" name="email" placeholder="Enter your email here...">
      </mat-form-field>
      <br>
      <mat-form-field class="login-input">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Enter your password here...">
      </mat-form-field>
      <button mat-stroked-button (click)="login()">Login</button>
    </div>
  </form>
</div>