<div id="app" [ngClass]="{
    'no-sidebar': router.url.includes('page/edit/')
}">    
    <ng-container *ngIf="!router.url.includes('page/edit/')">
        <aside id="app-sidebar">

            <div class="app-info">
                <div class="app-info-image" [style.backgroundImage]="'url(https://picsum.photos/300/300)'"></div>
                <h1 class="app-info-name">{{ application?.name }}</h1>
                <span class="app-info-current-user">Belépve mint: {{ appUser?.display_name }}</span>
            </div>
                    

            <section class="nav-section">
                <h2 class="nav-section-title">Profil</h2>
                <div class="nav-item">
                    <mat-icon>perm_identity</mat-icon>
                    <span>Profilbeállítások</span>
                </div>
            </section>

            <section class="nav-section">
                <h2 class="nav-section-title">Oldalak</h2>
                <button mat-raised-button color="primary" (click)="openNewPageEditor()">
                    <mat-icon>library_add</mat-icon>
                    Oldal létrehozása
                </button>

                <ng-container  *ngFor="let page of pages">
                    <div *ngIf="page?.parent_page_id === null" class="nav-item" [routerLink]="'page/' + page.id">
                        <mat-icon>list</mat-icon>
                        <span>{{ page.title }}</span>
                    </div>
                </ng-container>
            </section>

            
            <section class="nav-section">
                <h2 class="nav-section-title">Egyéb</h2>

                <div class="nav-item" [routerLink]="'/dashboard'">
                    <mat-icon>home</mat-icon>
                    <span>Dashboard</span>
                </div>
                <div class="nav-item" [routerLink]="'/logout'">
                    <mat-icon>logout</mat-icon>
                    <span>Kijelentkezés</span>
                </div>
            </section>

        </aside>
    </ng-container>


    <main id="app-content">
        <router-outlet></router-outlet>
    </main>
</div>