<div id="app" [ngClass]="{
    'no-sidebar': router.url.includes('page/edit/')
}">
    <ng-container>
        <aside id="app-sidebar">
            <ul>
                <li *ngFor="let page of pages">
                    <a [routerLink]="'page/' + page.id">
                        <mat-icon>toc</mat-icon>
                        <span>{{ page.title }}</span>
                    </a>
                </li>
            </ul>
        </aside>
    </ng-container>
    <main id="app-content">
        <router-outlet></router-outlet>
    </main>
</div>