<nav class="page-nav">
    <h1>{{ page?.title }}</h1>

    <div class="page-nav-toolbar">
        <span matTooltip="Új rekord felvétele" (click)="openNewRecordPage()">
            <mat-icon>add</mat-icon>
        </span>
        <span matTooltip="Oldal szerkesztése" (click)="openPageEditor()">
            <mat-icon>edit</mat-icon>
        </span>
        <span matTooltip="Oldal nyomtatása" (click)="printPage()">
            <mat-icon>print</mat-icon>
        </span>
    </div>
</nav>
<main id="list-page-content" [style.backgroundColor]="page?.color == null ? '#e1eaed' : page?.color">

    <div>
        <ccreator-data-table #dataTable [tableModel]="tableModel" [pageModel]="page" (paginatorChanged)="reloadTable($event)"></ccreator-data-table>
    </div>

</main>

<!-- <div id="new-record-button" matTooltip="Új rekord felvétele">
    <mat-icon>add</mat-icon>
</div> -->